<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-build-increment" version="2.0.1">
    <name>Cordova Build Increment Tool</name>
    <description>Build Increment Tool for Cordova Applications</description>
    <license>Apache 2.0</license>
    <keywords>cordova</keywords>
    <hook type="after_build" src="incrementBuildNum.js"/>
</plugin>
